@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: calc(3vw);
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 80px;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  align-items: center;
  padding: calc(4vw) 0;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  min-width: 200px;
  width: calc(100vw - 20px);
}

@media screen and (min-width: 700px) {
  .filter-options select {
    width: calc(50vw - 20px);
  }
}
@media screen and (min-width: 900px) {
  .filter-options select {
    width: calc(33vw - 20px);
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  /*30px padding on li, 15px margin on li, 15px padding on container * 2 = 120*/
  width: calc(100vw - 120px);
}

@media screen and (min-width: 700px) {
  #restaurants-list li {
    width: calc(50vw - 120px);
  }
}
@media screen and (min-width: 900px) {
  #restaurants-list li {
    width: calc(33vw - 120px);
  }
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 10px 0 0;
  width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
header {
  width: 100%;
}
.fix-map {
  position: fixed;
  top: 0;
  right: 0;
  height: calc(100vh);
}
#map-container {
  background: blue none repeat scroll 0 0;
  height: calc(50vw);
  width: 100%;
}
@media screen and (min-width: 700px) {
  #map-container {
    order: 1;
    height: calc(15vw + 550px);
    width: calc(50vw);
  }
}
@media screen and (min-width: 900px) {
  #map-container {
    width: calc(67vw);
  }
}

#map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#footer {
}


.restaurants-container {
  width: calc(100vw);
}

@media screen and (min-width: 700px) {
  .restaurants-container {
    width: calc(50vw);
  }
}

@media screen and (min-width: 900px) {
  .restaurants-container {
    width: calc(33vw);
  }
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: calc(3vw + 10px);
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	width: 100%;
  border-radius: 15px 0;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 10px 20px;
}
@media screen and (min-width: 700px) {
  #restaurant-container {
    width: calc(50vw - 40px);
    order: 0;
  }
  #reviews-container {
    order: 2;
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  #restaurant-container {
    width: calc(33vw - 40px);
  }
}

#reviews-container h2 {
  color: #f58500;
  font-size: calc(2.5vw + 10px);
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-transform: uppercase;
}

#reviews-list {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 700px) {
  #reviews-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
  }
  #reviews-list li {
    margin: 0;
  }
}

.reviews-list-header {
  background: #333;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 50px;
}

.reviews-list-header-name {
  margin: 0;
  padding: 0 20px;
  color: white;
  font-size: calc(0.5vw + 12px);
}

.reviews-list-header-date {
  margin: 0;
  font-size: calc(0.5vw + 10px);
  color: #ddd;
  text-shadow: 2px 2px black;
  text-align: right;
  padding: 0 20px;
}

.reviews-list-rating {
  background: orange;
  display: inline;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
}

#reviews-list li {
  background-color: #fff;
  border-radius: 15px 0;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;

}

#reviews-list li > p {
  margin: 10px 0;
  padding: 0 20px;
}

#restaurant-hours td {
  color: #666;
}


@media screen and (max-width: 400px) {
  background-color: red;
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  background: green;
}
@media screen and (min-width: 600px) {
  background: blue;
}
